<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.godlife.churchapp.godlifeassembly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".util.MyApplicationClass"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/gla"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".birthdays.December"></activity>
        <activity android:name=".birthdays.Nov" />
        <activity android:name=".birthdays.Oct" />
        <activity android:name=".birthdays.Sept" />
        <activity android:name=".birthdays.August" />
        <activity android:name=".birthdays.July" />
        <activity android:name=".birthdays.June" />
        <activity android:name=".birthdays.May" />
        <activity android:name=".birthdays.April" />
        <activity android:name=".birthdays.March" />
        <activity android:name=".birthdays.Feb" />
        <activity android:name=".birthdays.Jan" />
        <activity android:name=".activities.FullScreenImage" />
        <activity android:name=".activities.Login" />
        <activity android:name=".activities.Register" />
        <activity android:name=".activities.BirthMonth" />
        <activity
            android:name=".activities.FullMeeting"
            android:label="Upcoming Meeting" />
        <activity
            android:name=".activities.FullNotice"
            android:label="Notices" />
        <activity android:name=".activities.Give" />
        <activity android:name=".activities.FullPraise" />
        <activity android:name=".activities.FullReport" />
        <activity
            android:name=".activities.FullLove"
            android:label="Full Love Note" />
        <activity
            android:name=".activities.FullArticle"
            android:label="Full Article" />
        <activity
            android:name=".activities.FullLyrics"
            android:label="Full Lyrics"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".activities.ZariaChurchMap"
            android:label="@string/title_activity_zaria_church_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live_service.LiveRadio"
            android:label="Audio Live Streaming"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".live_service.YoutubeLive"
            android:label="Live Youtube Streaming" />
        <activity
            android:name=".activities.DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactUs"
            android:label="Contact God-Life Assembly"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Chats"
            android:label="Chat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutUs"
            android:label="About Us"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.JosChurchMap"
            android:label="@string/title_activity_church_loation_map"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Intro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>